[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=fasten
ExecStart=/bin/sh -c '/home/fasten/kafka/bin/kafka-server-start.sh /home/fasten/kafka/config/server.properties > /home/fasten/kafka/kafka.log 2>&1'
ExecStop=/home/fasten/kafka/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
