[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=fasten
ExecStart=/home/fasten/kafka/bin/zookeeper-server-start.sh /home/fasten/kafka/config/zookeeper.properties
ExecStop=/home/fasten/kafka/bin/zookeeper-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
